#BigScreen {
    font-size: 200%;
    width: 50%;
    height: 500px;
    background-color: gainsboro;
    padding: 5px 0 20px 0;
    margin: auto auto;
    border: 1px solid black;
}

.buttons {
    display: grid;
    justify-content:left;
    grid-gap: 10px;
    grid-template-rows:  1fr 1fr 1fr 1fr 1fr;
    height: 5vh;
    padding: 20px 20px 90px 20px;
}